<div class="inner-banner bg-shape1 bg-color1">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="conatiner">
                <div class="inner-title text-center">
                    <h3>About Us</h3>
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li><i class="fas fa-chevron-right"></i></li>
                        <li>About Us</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- About -->
<div class="container -translate-y-24" id="About">
    <div class="rounded-2.5xl bg-light-base px-6 py-20 shadow-sm dark:bg-jacarta-700 md:px-16 lg:px-24"
      style="--tw-bg-opacity: 0.75">
      <div class="flex-wrap justify-between lg:flex">
        <h1 class="mb-4 font-display text-5xl lg:text-6xl text-jacarta-700 dark:text-white">
          About <span class="text-aqua">Vision</span><span class="text-accent">Waves</span>
        </h1>

        <p class="text-lg leading-normal mt-5 dark:text-jacarta-300">
          Vision Waves is focused on staying at the forefront of innovation
          fields of Artificial Intelligence (AI) and Machine Learning (ML).
        </p>
        <p class="text-lg leading-normal mt-5 dark:text-jacarta-300">
          Our goal is to build platforms that harness AI/ML technologies to
          deliver autonomous behavior across the organization processes and
          systems. With an unwavering commitment to transforming data into
          actionable insights, we have established ourselves as a trusted
          partner for organizations across various sectors seeking to
          harness the power of AI and ML technologies.
        </p>
        <p class="text-lg leading-normal mt-5 dark:text-jacarta-300">
          Our driven experienced team believe in pursuit of excellence and a
          vision for a smarter, more connected world, we are poised to shape
          the future of new organization using AI and ML, one breakthrough
          at a time.
        </p>
      </div>
    </div>
  </div>