<app-navbar-style-one></app-navbar-style-one>
<div class="home-slider">
    <div class="slider-area owl-carousel owl-theme">
        <div class="slider-item slider-bg1">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="container">
                        <div class="slider-text">
                            <h1>What is e-CTD Plus?</h1>
                            <p>The Common Technical Document (CTD) is a standardised format for regulatory submissions,
                                established by the International Council for Harmonisation (ICH) and accepted by
                                regulatory agencies in Europe, Japan, and the United States.
                                The electronic version, known as the electronic Common Technical Document (eCTD),
                                ensures more efficient and compliant submissions by integrating two key components.
                            </p>
                            <div class="slider-btn">
                                <a routerLink="/" class="default-btn1">Explore More</a>
                                <a routerLink="/contact" class="default-btn2 ml-20">Contact Us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="slider-item slider-bg2">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="container">
                        <div class="slider-text">
                            <h1>Content Specification</h1>
                            <p>Defined by ICH standards. </p>
                            <div class="slider-btn">
                                <a routerLink="/" class="default-btn1">Explore More</a>
                                <a routerLink="/contact" class="default-btn2 ml-20">Contact Us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="slider-item slider-bg3">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="container">
                        <div class="slider-text">
                            <h1>Technical Specification</h1>
                            <p>Supported by advanced electronic software.
                                e-CTD Plus simplifies the submission process, enabling faster and more efficient dossier
                                preparation for regulatory approvals.
                            </p>
                            <div class="slider-btn">
                                <a routerLink="/" class="default-btn1">Explore More</a>
                                <a routerLink="/contact" class="default-btn2 ml-20">Contact Us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">


    <div class="course-area pt-100 pb-70">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-5">
                    <div class="course-item">
                        <div class="course-text">
                            <span>HOME</span>
                            <h2>Features of e-CTD Plus</h2>
                            <ul>
                                <li>
                                    <h3>Compliance Made Easy: </h3>
                                    <p>
                                        All file names and titles adhere to regulatory standards.
                                    </p>
                                </li>
                                <li>
                                    <h3>
                                        Flexible Document Preparation:
                                    </h3>
                                    <ul>
                                        <li>Create CTD documents directly in Word, with an option to import Word files.
                                        </li>
                                        <li>Attach CTD documents as optimised PDF files.
                                        </li>
                                    </ul>

                                </li>
                                <li>
                                    <h3>Template Integration: </h3>
                                    <p>Include relevant guidelines or templates directly at the leaf level.
                                    </p>
                                </li>
                                <li>
                                    <h3>Defined Workflows: </h3>
                                    <p>Assign roles for “Doer,” “Reviewer,” and “Publisher” to streamline tasks.</p>
                                </li>
                                <li>
                                    <h3>Comprehensive Reporting:</h3>
                                    <p>Generate and view multiple reports, including audit trails.</p>
                                </li>
                                <li>
                                    <h3>Automated PDF Optimisation:</h3>
                                    <p>Complies with agency requirements and includes built-in hyperlinking tools.
                                    </p>
                                </li>
                                <li>
                                    <h3>Technical Validation:</h3>
                                    <p>Validates submissions based on the latest criteria set by regulatory authorities.
                                    </p>
                                </li>
                                <li>
                                    <h3>SPT Tool:</h3>
                                    <p>Helps ensure submissions meet technical and content standards.</p>
                                </li>
                            </ul>
                            <div class="course-btn">
                                <a routerLink="/courses" class="default-btn2">Take Course</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-7">
                    <div class="course-img">
                        <img src="../../../../assets/img/images.jpeg" class="rounded-circle shadow-sm"
                            alt="Course Images">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-5">
                    <div class="course-img-2">
                        <img src="assets/img/course/2.jpg" alt="Course Images">
                    </div>

                    <div class="course-dots-2">
                        <img src="assets/img/shape/dots-pink.png" alt="Dots Images">
                    </div>
                </div>

                <div class="col-lg-7">
                    <div class="course-item-2">
                        <div class="course-text">
                            <h2>e-CTD Modules </h2>
                            <ul>
                                <li>CTD Summaries (QOS)
                                </li>
                                <li>Non-Clinical Study Reports
                                </li>
                                <li>Administrative Information (Region Specific)
                                </li>
                                <li>Quality (CMC)
                                </li>
                                <li>Clinical Study Reports
                                </li>
                            </ul>
                            <div class="course-btn">
                                <a routerLink="/courses" class="default-btn2">Take Course</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-5">
                    <div class="course-item">
                        <div class="course-text">
                            <h2>Benefits of e-CTD Plus
                            </h2>
                            <ul>
                                <li>
                                    <h3>Regulatory Compliance:</h3>
                                    <p>
                                        All file names and titles adhere to regulatory standards.
                                    </p>
                                </li>
                                <li>
                                    <h3>
                                        Fast Tracking:
                                    </h3>
                                    <ul>
                                        <li>Create CTD documents directly in Word, with an option to import Word files.
                                        </li>
                                        <li>Attach CTD documents as optimised PDF files.
                                        </li>
                                    </ul>

                                </li>
                                <li>
                                    <h3>Lifecycle Management:</h3>
                                    <p>Include relevant guidelines or templates directly at the leaf level.
                                    </p>
                                </li>
                                <li>
                                    <h3>Efficient Submissions:</h3>
                                    <p>Assign roles for “Doer,” “Reviewer,” and “Publisher” to streamline tasks.</p>
                                </li>
                                <li>
                                    <h3>Flexible Options:</h3>
                                    <p>Generate and view multiple reports, including audit trails.</p>
                                </li>
                                <li>
                                    <h3>Speedy Approvals:</h3>
                                    <p>Complies with agency requirements and includes built-in hyperlinking tools.
                                    </p>
                                </li>
                                <li>
                                    <h3>Improved Archiving:</h3>
                                    <p>Validates submissions based on the latest criteria set by regulatory authorities.
                                    </p>
                                </li>
                                <li>
                                    <h3>Global Compatibility: </h3>
                                    <p>Helps ensure submissions meet technical and content standards.</p>
                                </li>
                                <li>
                                    <h3>Easy Access:</h3>
                                    <p>Helps ensure submissions meet technical and content standards.</p>
                                </li>
                                <li>
                                    <h3>Instant Receipts: </h3>
                                    <p>Helps ensure submissions meet technical and content standards.</p>
                                </li>
                                <li>
                                    <h3>Boosted Productivity: </h3>
                                    <p>Helps ensure submissions meet technical and content standards.</p>
                                </li>

                            </ul>
                            <div class="course-btn">
                                <a routerLink="/courses" class="default-btn2">Take Course</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-7">
                    <div class="course-img">
                        <img src="../../../../assets/img/images.jpeg" class="rounded-circle shadow-sm"
                            alt="Course Images">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="brand-area pt-100">
            <div class="container">
                <div class="brand-slider owl-carousel owl-theme">
                    <div class="brand-item">
                        <a routerLink="/cart"><img src="assets/img/brand/1.png" alt="Brand Images"></a>
                    </div>
        
                    <div class="brand-item">
                        <a routerLink="/cart"><img src="assets/img/brand/2.png" alt="Brand Images"></a>
                    </div>
        
                    <div class="brand-item">
                        <a routerLink="/cart"><img src="assets/img/brand/3.png" alt="Brand Images"></a>
                    </div>
        
                    <div class="brand-item">
                        <a routerLink="/cart"><img src="assets/img/brand/4.png" alt="Brand Images"></a>
                    </div>
        
                    <div class="brand-item">
                        <a routerLink="/cart"><img src="assets/img/brand/5.png" alt="Brand Images"></a>
                    </div>
                </div>
            </div>
        </div> -->

    <!-- <div class="about-area pt-100 pb-70">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="about-text">
                            <div class="scetion-title">
                                <span>About Us</span>
                                <h2>Enjoy Safe and Affordable Diving & Swimming With Us</h2>
                                <p>The introduced now, the they expect, animals the desk, and catch temple. More seven my
                                    couldn't it the character using recommended. Fees, more the them. Saw and deep classes
                                    create it brief.</p>
                            </div>
        
                            <div class="about-btn">
                                <a routerLink="/about" class="default-btn2">Know More</a>
                            </div>
                        </div>
                    </div>
        
                    <div class="col-lg-6">
                        <div class="about-right">
                            <div class="play-area">
                                <a href="https://www.youtube.com/watch?v=duSPHGiPhwk" class="play-btn"><i
                                        class="flaticon-multimedia"></i> Play a Video</a>
                            </div>
        
                            <div class="icon-shape-1"><i class="flaticon-sea"></i></div>
                            <div class="icon-shape-2"><i class="flaticon-sea"></i></div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->

    <!-- <section class="service-area pt-100 pb-70">
            <div class="container">
                <div class="scetion-title text-center mb-50">
                    <span>Our Services</span>
                    <h2>Nuva Provides Services</h2>
                    <p>The introduced now, the they expect, animals the desk, and catch temple. More seven my couldn't it the
                        character using recommended.</p>
                </div>
        
                <div class="service-item-area owl-carousel owl-theme">
                    <div class="service-item">
                        <a routerLink="/service-details" class="service-item-icon"><i class="flaticon-swimming"></i></a>
                        <a routerLink="/service-details" class="service-head">
                            <h3>Swimming & Diving</h3>
                        </a>
                        <p>As sign what each derided to organizaasd tion. Remodelling that, win word as have the proceeded lots
                            subject</p>
                    </div>
        
                    <div class="service-item">
                        <a routerLink="/service-details" class="service-item-icon"><i class="flaticon-teacher"></i></a>
                        <a routerLink="/service-details" class="service-head">
                            <h3>Teaching Swimming & Diving</h3>
                        </a>
                        <p>As sign what each derided to organizaasd tion. Remodelling that, win word as have the proceeded lots
                            subject</p>
                    </div>
        
                    <div class="service-item">
                        <a routerLink="/service-details" class="service-item-icon"><i class="flaticon-fins"></i></a>
                        <a routerLink="/service-details" class="service-head">
                            <h3>Swimming Equipments</h3>
                        </a>
                        <p>As sign what each derided to organizaasd tion. Remodelling that, win word as have the proceeded lots
                            subject</p>
                    </div>
        
                    <div class="service-item">
                        <a routerLink="/service-details" class="service-item-icon"><i class="flaticon-swimming"></i></a>
                        <a routerLink="/service-details" class="service-head">
                            <h3>Swimming & Diving</h3>
                        </a>
                        <p>As sign what each derided to organizaasd tion. Remodelling that, win word as have the proceeded lots
                            subject</p>
                    </div>
                </div>
            </div>
        </section> -->

    <!-- <div class="apply-area">
        <div class="apply-text">
            <span>Apply for Job</span>
            <h2>We Are Hiring Expertise for Three Different Categories</h2>
            <p>It willingly room, drew even in place structure he its holding to view. Need harder my in how there's
                into receive wanted ambushed that home, his this it position. Room, on by was it heard parks. Compared
                one Room. Testimony you mister music.Discipline assets briefs with tone completely</p>
            <div class="apply-btn">
                <a routerLink="/" class="default-btn1">Apply Now</a>
                <a routerLink="/" class="default-btn2 ml-20">Our Career</a>
            </div>
        </div>
    </div>
</div> -->
    <!-- <section class="product-area pt-100 pb-70">
    <div class="container">
        <div class="scetion-title text-center mb-50">
            <span>Our Products </span>
            <h2>Buy the Equipment You Need</h2>
            <p>The introduced now, the they expect, animals the desk, and catch temple. More seven my couldn't it the
                character using recommended.</p>
        </div>

        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="product-item">
                    <a routerLink="/products-details"><img src="assets/img/product/1.jpg" alt="Product Images"></a>

                    <div class="product-cotent">
                        <div class="product-text">
                            <a routerLink="/products-details">
                                <h3>Diving Glass</h3>
                            </a>
                            <span>$35</span>
                        </div>

                        <a routerLink="/cart" class="add-product"><i class="flaticon-plus"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <div class="product-item">
                    <a routerLink="/products-details"><img src="assets/img/product/2.jpg" alt="Product Images"></a>

                    <div class="product-cotent">
                        <div class="product-text">
                            <a routerLink="/products-details">
                                <h3>Diving Rite</h3>
                            </a>
                            <span>$30</span>
                        </div>

                        <a routerLink="/cart" class="add-product"><i class="flaticon-plus"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <div class="product-item">
                    <a routerLink="/products-details"><img src="assets/img/product/3.jpg" alt="Product Images"></a>

                    <div class="product-cotent">
                        <div class="product-text">
                            <a routerLink="/products-details">
                                <h3>Fins Bungee</h3>
                            </a>
                            <span>$75</span>
                        </div>

                        <a routerLink="/cart" class="add-product"><i class="flaticon-plus"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <div class="product-item">
                    <a routerLink="/products-details"><img src="assets/img/product/4.jpg" alt="Product Images"></a>

                    <div class="product-cotent">
                        <div class="product-text">
                            <a routerLink="/products-details">
                                <h3>Life Jacket</h3>
                            </a>
                            <span>$25</span>
                        </div>

                        <a routerLink="/cart" class="add-product"><i class="flaticon-plus"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->

    <!-- <section class="gallery-area pt-100 pb-70">
    <div class="container">
        <div class="scetion-title text-center mb-50">
            <span>Our Gallery</span>
            <h2>Amazing Photos at Our Daily Nuva</h2>
            <p>The introduced now, the they expect, animals the desk, and catch temple. More seven my couldn't it the
                character using recommended.</p>
        </div>

        <div class="gallery-view">
            <div class="row">
                <div class="col-lg-4 col-sm-6">
                    <div class="gallery-item">
                        <a href="assets/img/gallery/1.jpg"><img src="assets/img/gallery/1.jpg" alt="Gallery Images"></a>

                        <div class="gallery-text">
                            <h3>Baby Girl Learn Swimming</h3>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-sm-6">
                    <div class="gallery-item">
                        <a href="assets/img/gallery/2.jpg"><img src="assets/img/gallery/2.jpg" alt="Gallery Images"></a>

                        <div class="gallery-text">
                            <h3>John at His Swim Event</h3>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-sm-6">
                    <div class="gallery-item">
                        <a href="assets/img/gallery/3.jpg"><img src="assets/img/gallery/3.jpg" alt="Gallery Images"></a>

                        <div class="gallery-text">
                            <h3>Scuba Diving Instruction</h3>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-sm-6">
                    <div class="gallery-item">
                        <a href="assets/img/gallery/4.jpg"><img src="assets/img/gallery/4.jpg" alt="Gallery Images"></a>

                        <div class="gallery-text">
                            <h3>Under Water Scuba Diving</h3>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-sm-6">
                    <div class="gallery-item">
                        <a href="assets/img/gallery/5.jpg"><img src="assets/img/gallery/5.jpg" alt="Gallery Images"></a>

                        <div class="gallery-text">
                            <h3>Mike’s Frist Dive for Nuva</h3>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-sm-6">
                    <div class="gallery-item">
                        <a href="assets/img/gallery/6.jpg"><img src="assets/img/gallery/6.jpg" alt="Gallery Images"></a>

                        <div class="gallery-text">
                            <h3>Boy Learning Swimming</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->

    <!-- <section class="trainers-area pb-70">
    <div class="container">
        <div class="scetion-title text-center mb-50">
            <span>Our Trainers</span>
            <h2>Our Professional Trainers</h2>
            <p>The introduced now, the they expect, animals the desk, and catch temple. More seven my couldn't it the
                character using recommended.</p>
        </div>

        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="trainer-card">
                    <a routerLink="/instructor"><img src="assets/img/trainers/1.jpg" alt="Trainers Images"></a>

                    <div class="trainer-content">
                        <a routerLink="/instructor">
                            <h3>John Doe</h3>
                        </a>
                        <span>Professional Diver</span>
                        <div class="social-icon">
                            <ul>
                                <li><a href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fas fa-envelope"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <div class="trainer-card">
                    <a routerLink="/instructor"><img src="assets/img/trainers/2.jpg" alt="Trainers Images"></a>

                    <div class="trainer-content">
                        <a routerLink="/instructor">
                            <h3>Evana Doe</h3>
                        </a>
                        <span>Professional Trainer</span>
                        <div class="social-icon">
                            <ul>
                                <li><a href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fas fa-envelope"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <div class="trainer-card">
                    <a routerLink="/instructor"><img src="assets/img/trainers/3.jpg" alt="Trainers Images"></a>

                    <div class="trainer-content active">
                        <a routerLink="/instructor">
                            <h3>Smith Doe</h3>
                        </a>
                        <span>Professional Swimmer</span>
                        <div class="social-icon active">
                            <ul>
                                <li><a href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fas fa-envelope"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <div class="trainer-card">
                    <a routerLink="/instructor"><img src="assets/img/trainers/4.jpg" alt="Trainers Images"></a>

                    <div class="trainer-content">
                        <a routerLink="/instructor">
                            <h3>Marida Doe</h3>
                        </a>
                        <span>Professional Instructor</span>
                        <div class="social-icon">
                            <ul>
                                <li><a href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fas fa-envelope"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->

    <!-- <section class="news-area pb-70">
    <div class="container">
        <div class="scetion-title text-center mb-50">
            <span>Our News</span>
            <h2>Daily Updates of Our Nuva</h2>
            <p>The introduced now, the they expect, animals the desk, and catch temple. More seven my couldn't it the
                character using recommended.</p>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="news-card">
                    <div class="news-img">
                        <a routerLink="/news-details"><img src="assets/img/news/1.jpg" alt="News Images"></a>

                        <div class="sub-text">
                            <a routerLink="/">SCUBA DIVING</a>
                        </div>
                    </div>
                    <ul>
                        <li><a href="">John Doe</a> </li>
                        <li>26 APR 2024</li>
                    </ul>
                    <div class="news-content">
                        <a routerLink="/news-details">
                            <h3>New Scuba Diving Course Sheet Will Update Soon</h3>
                        </a>
                        <p>Less entirely counter. Parent, curiously, must would frequency, would very of wellfeigned
                            legs, doctor back in the business.</p>
                        <a routerLink="/news-details" class="news-icon">Read More </a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="news-card">
                    <div class="news-img">
                        <a routerLink="/news-details"><img src="assets/img/news/2.jpg" alt="News Images"></a>

                        <div class="sub-text">
                            <a routerLink="/">SWIMMING EVENT</a>
                        </div>
                    </div>
                    <ul>
                        <li><a routerLink="/">John Doe</a> </li>
                        <li>27 APR 2024</li>
                    </ul>
                    <div class="news-content">
                        <a routerLink="/news-details">
                            <h3>A Diving Event Will Happen at Nuva Center</h3>
                        </a>
                        <p>Less entirely counter. Parent, curiously, must would frequency, would very of wellfeigned
                            legs, doctor back in the business.</p>
                        <a routerLink="/news-details" class="news-icon">Read More </a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 offset-lg-0 col-md-6 offset-md-3">
                <div class="news-card">
                    <div class="news-img">
                        <a routerLink="/news-details"><img src="assets/img/news/3.jpg" alt="News Images"></a>

                        <div class="sub-text">
                            <a routerLink="/">EQUIPMENT</a>
                        </div>
                    </div>
                    <ul>
                        <li><a routerLink="/">John Doe</a> </li>
                        <li>28 APR 2024</li>
                    </ul>
                    <div class="news-content">
                        <a routerLink="/news-details">
                            <h3>A Swimming Event Will Happen at Nuva Center</h3>
                        </a>
                        <p>Less entirely counter. Parent, curiously, must would frequency, would very of wellfeigned
                            legs, doctor back in the business.</p>
                        <a routerLink="/news-details" class="news-icon">Read More </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->