<app-navbar-style-one></app-navbar-style-one>
<!-- hero section start -->
<div class="home-slider">
    <div class="slider-area owl-carousel owl-theme">
        <div class="slider-item slider-bg1">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="container">
                        <div class="slider-text">
                            <h1>What is e-CTD Plus?</h1>
                            <p>The Common Technical Document (CTD) is a standardised format for regulatory submissions,
                                established by the International Council for Harmonisation (ICH) and accepted by
                                regulatory agencies in Europe, Japan, and the United States.
                                The electronic version, known as the electronic Common Technical Document (eCTD),
                                ensures more efficient and compliant submissions by integrating two key components.
                            </p>
                            <div class="slider-btn">
                                <a routerLink="/" class="default-btn1">Explore More</a>
                                <a routerLink="/contact" class="default-btn2 ml-20">Contact Us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="slider-item slider-bg2">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="container">
                        <div class="slider-text">
                            <h1>Content Specification</h1>
                            <p>Defined by ICH standards. </p>
                            <div class="slider-btn">
                                <a routerLink="/" class="default-btn1">Explore More</a>
                                <a routerLink="/contact" class="default-btn2 ml-20">Contact Us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="slider-item slider-bg3">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="container">
                        <div class="slider-text">
                            <h1>Technical Specification</h1>
                            <p>Supported by advanced electronic software.
                                e-CTD Plus simplifies the submission process, enabling faster and more efficient dossier
                                preparation for regulatory approvals.
                            </p>
                            <div class="slider-btn">
                                <a routerLink="/" class="default-btn1">Explore More</a>
                                <a routerLink="/contact" class="default-btn2 ml-20">Contact Us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- hero section start -->

<!-- Features Section -->
<!-- home-one.component.html -->
<div class="scroll-container m-4 p-5" id="scrollContainer" (mousedown)="onMouseDown($event)"
    (mouseleave)="onMouseLeave()" (mouseup)="onMouseUp()" (mousemove)="onMouseMove($event)">
    <div class="card card-home shadow-sm" *ngFor="let card of cards" (mouseenter)="onCardHover(true)"
        (mouseleave)="onCardHover(false)">
        <div class="card-body">
            <h5 class="card-title text-center">{{ card.title }}</h5>
            <p *ngIf="card.description">{{ card.description }}</p>
            <ul *ngIf="card.list">
                <li *ngFor="let item of card.list">{{ item }}</li>
            </ul>
        </div>
    </div>
</div>


<!-- e-CTD Modules Section -->
<div class="container-fluid modules-section py-5">
    <div class="container">
        <div class="text-center">
            <h2>e-CTD Modules</h2>
        </div>
        <ul class="list-unstyled text-center">
            <li>CTD Summaries (QOS)</li>
            <li>Non-Clinical Study Reports</li>
            <li>Administrative Information (Region Specific)</li>
            <li>Quality (CMC)</li>
            <li>Clinical Study Reports</li>
        </ul>
        <div class="text-center">
            <a routerLink="/courses" class="default-btn2">Take Course</a>
        </div>
    </div>
</div>

<!-- Benefits Section -->
<div class="container-fluid benefits-section py-5">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5">
                <div>
                    <h2>Benefits of e-CTD Plus</h2>
                    <ul>
                        <li>
                            <h3>Regulatory Compliance:</h3>
                            <p>All file names and titles adhere to regulatory standards.</p>
                        </li>
                        <li>
                            <h3>Fast Tracking:</h3>
                            <ul>
                                <li>Create CTD documents directly in Word.</li>
                                <li>Attach CTD documents as optimised PDF files.</li>
                            </ul>
                        </li>
                        <li>
                            <h3>Lifecycle Management:</h3>
                            <p>Include relevant guidelines or templates directly at the leaf level.</p>
                        </li>
                        <li>
                            <h3>Efficient Submissions:</h3>
                            <p>Assign roles for “Doer,” “Reviewer,” and “Publisher” to streamline tasks.</p>
                        </li>
                    </ul>
                    <div class="text-center text-lg-start">
                        <a routerLink="/courses" class="default-btn2">Take Course</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 text-center">
                <img src="../../../../assets/img/images.jpeg" class="img-fluid rounded-circle shadow-sm"
                    alt="Course Images">
            </div>
        </div>
    </div>
</div>