<!-- <app-navbar-style-one></app-navbar-style-one> -->
<div class="home-slider">
    <div class="slider-area owl-carousel owl-theme">
        <div class="slider-item slider-bg1">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="container">
                        <div class="slider-text">
                            <h1>What is e-CTD Plus?</h1>
                            <p>The Common Technical Document (CTD) is a standardised format for regulatory submissions,
                                established by the International Council for Harmonisation (ICH) and accepted by
                                regulatory agencies in Europe, Japan, and the United States.
                                The electronic version, known as the electronic Common Technical Document (eCTD),
                                ensures more efficient and compliant submissions by integrating two key components.
                            </p>
                            <div class="slider-btn">
                                <a routerLink="/" class="default-btn1">Book a Demo</a>
                                <a routerLink="/contact" class="default-btn2 ml-20">Contact Us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="slider-item slider-bg2">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="container">
                        <div class="slider-text">
                            <h1>Content Specification</h1>
                            <p>Defined by ICH standards. </p>
                            <div class="slider-btn">
                                <a routerLink="/" class="default-btn1">Book a Demo</a>
                                <a routerLink="/contact" class="default-btn2 ml-20">Contact Us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="slider-item slider-bg3">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="container">
                        <div class="slider-text">
                            <h1>Technical Specification</h1>
                            <p>Supported by advanced electronic software.
                                e-CTD Plus simplifies the submission process, enabling faster and more efficient dossier
                                preparation for regulatory approvals.
                            </p>
                            <div class="slider-btn">
                                <a routerLink="/" class="default-btn1">Book a Demo</a>
                                <a routerLink="/contact" class="default-btn2 ml-20">Contact Us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--e-CTD Features Section -->
<div class="container-fluid features-section bg-white py-5">
    <div class="container">
        <div class="text-center course-text p-3 mb-3">
            <span>HOME</span>
            <h2>Features of e-CTD Plus</h2>
        </div>
        <!-- Cards Section -->
        <div class="row row-cols-1 row-cols-md-3 mb-5 pb-5">
            <!-- Looping through cardsData array -->
            <div class="col-lg-3 mb-4" *ngFor="let card of cardsData">
                <div class="card card-home">
                    <div class="card-body text-center">

                        <!-- Space for Icon -->
                        <div class="icon  mb-3">
                            <i [class]="card.icon" class="ico-1" style="font-size: 2rem;"></i>
                        </div>

                        <!-- Card Title -->
                        <h5 class="card-title">{{ card.title }}</h5>

                        <!-- Card List Items -->
                        <ul class="card-text">
                            <li *ngFor="let detail of card.details">{{ detail }}</li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--e-CTD Modules Section -->
<div class="modules-section py-5">
    <div>
        <div class="mod-img">
            <div class="my-auto mod-content shadow-sm">
                <div class="text-start mb-5">
                    <h2>e-CTD Modules</h2>
                </div>
                <!-- Loop through eCTDModules array -->
                <div class="text-start eff-hov" *ngFor="let module of eCTDModules">
                    <p>{{ module }}</p>
                </div>
                <!-- <div class="text-end">
                    <a routerLink="/courses" class="default-btn2">Take Course</a>
                </div> -->
            </div>
        </div>
    </div>
</div>

<!--e-CTD Benefits Section -->
<div #benefitsSection class="container-fluid benefits-section bg-light py-5">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5 bg-color p-4 m-3 shadow-lg rounded">
                <div class="text-center mb-5">
                    <h2>e-CTD Benefits</h2>
                </div>
                <div class="container">
                    <h2>Key Benefits of e-CTD Plus</h2>
                    <ul #animatedList class="animated-list">
                        <li *ngFor="let feature of eCTDFeatures">{{ feature }}</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 text-center">
                <img src="../../../../assets/img/images.jpeg" class="img-fluid shadow-lg rounded" alt="Course Images">
            </div>
        </div>
    </div>
</div>



<!-- Request a Demo Section -->
<div class="container-fluid benefits-section bg-light py-5">
    <div class="container text-center">
        <div class="text-center course-text">
            <span>Request a Demo</span>
            <h2>Discover how e-CTD Plus can transform your regulatory submissions. Book a free demo today to experience
            </h2>
        </div>

        <!-- Centered Row -->
        <div class="row justify-content-center mt-4">

            <!-- Centering the cards using d-flex -->
            <div class="d-flex flex-wrap justify-content-center">
                <div class="col-md-3 card card-hover m-2" *ngFor="let card of demoCards">
                    <div class="card-body">
                        <p class="card-text">{{ card }}</p>
                    </div>
                </div>
            </div>

        </div>

        <!-- Buttons aligned centrally -->
        <div class="slider-btn text-center mt-4">
            <a routerLink="/" class="default-btn1">Book a Demo</a>
            <a routerLink="/contact" class="default-btn2 ml-20">Contact Us</a>
        </div>
    </div>
</div>