<footer class="footer-area">
    <div class="footer-top pt-50 pb-50">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-sm-6">
                    <div class="footer-content">
                        <div class="footer-conten-title">
                            <a routerLink="/"><img src="../../../../assets/img/e-CTD.svg" alt="Logo"></a>
                            <p>Lorem ipsum dolor sit amet, mattetur adipiscing elit, sed do eiusmod.</p>
                        </div>

                        <div class="footer-social">
                            <ul>
                                <li><a href="https://www.linkedin.com/company/topia-lifesciences" target="_blank"><i
                                            class="fab fa-linkedin-in"></i></a></li>
                                <li><a href="info@topialifesciences.com" target="_blank"><i
                                            class="fa-regular fa-envelope"></i></a></li>
                                <li><a href="www.topialifesciences.com" target="_blank">
                                        <i class="fa-solid fa-globe"></i></a></li>

                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-lg-2 col-sm-6">
                    <div class="footer-list">
                        <h3>Pages</h3>

                        <ul>
                            <li><a routerLink="/" class="nav-link">Home</a></li>
                            <li><a routerLink="/about" class="nav-link">About</a></li>
                            <li><a routerLink="/contact" class="nav-link">Contact</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-6">
                    <div class="footer-list ml-50">
                        <h3>ABOUT US</h3>

                        <ul>
                            <li><a routerLink="/about"></a>Terms & Conditions</li>
                            <li><a routerLink="/about">Privacy Policy</a></li>
                            <li><a routerLink="/about">Brochure</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-6">
                    <div class="footer-list">
                        <h3>Contacts</h3>
                        <p class="text-white fw-bold fs-5">United Kingdom</p>
                        <p class="text-white">128 City Road, London</p>
                        <p class="text-white">United Kingdom, EC1V 2NX</p>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-bottom">
        <div class="container">
            <div class="row ">
                <div class="col-lg-12">
                    <div class="bottom-text">
                        <p>© e-CTD is Proudly Owned by <a href="https://topialifesciences.com" target="_blank"
                                class="bottom-footer-line-hyperlink">Topia
                                Lifesciences</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>