<footer class="footer-area">
    <div class="footer-top pt-100 pb-70">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-sm-6">
                    <div class="footer-content">
                        <div class="footer-conten-title">
                            <a routerLink="/"><img src="../../../../assets/img/e-CTD.svg" alt="Logo"></a>
                            <p>Lorem ipsum dolor sit amet, mattetur adipiscing elit, sed do eiusmod.</p>
                        </div>

                        <div class="footer-social">
                            <ul>
                                <li><a href="https://www.linkedin.com/company/topia-lifesciences" target="_blank"><i
                                            class="fab fa-linkedin-in"></i></a></li>
                                <li><a href="info@topialifesciences.com" target="_blank"><i
                                            class="fa-regular fa-envelope"></i></a></li>
                                <li><a href="www.topialifesciences.com" target="_blank">
                                    <i class="fa-solid fa-globe"></i></a></li>
                                
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-lg-2 col-sm-6">
                    <div class="footer-list">
                        <h3>Pages</h3>

                        <ul>
                            <li><a routerLink="/" class="nav-link">Home</a></li>
                            <li><a routerLink="/about" class="nav-link">About</a></li>
                            <li><a routerLink="/contact" class="nav-link">Contact</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-6">
                    <div class="footer-list ml-50">
                        <h3>Quick Links</h3>

                        <ul>
                            <li><a routerLink="/faq">FAQ</a></li>
                            <li><a routerLink="/services">Services</a></li>
                            <li><a routerLink="/">Career</a></li>
                            <li><a routerLink="/courses">Courses</a></li>
                            <li><a routerLink="/privacy-policy">Privacy & Policy</a></li>
                            <li><a routerLink="/terms-condition">Terms & Conditions</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-6">
                    <div class="footer-list">
                        <h3>Contacts</h3>

                        <ul>
                            <li><a href="tel:+1123456789"><i class="fas fa-mobile-alt"></i> +1 123 456 789</a></li>
                            <li><a href="tel:+1123456359"><i class="fas fa-mobile-alt"></i> +1 123 456 359</a></li>
                            <li><a href="mailto:email&#64;nuva.com"><i class="far fa-envelope"></i>
                                    email&#64;nuva.com</a></li>
                            <li><a href="mailto:hello&#64;nuva.com"><i class="far fa-envelope"></i>
                                    hello&#64;nuva.com</a></li>
                            <li><i class="fas fa-map-marker-alt"></i> 28/A street, New York, USA</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-bottom">
        <div class="container">
            <div class="row ">
                <div class="col-lg-6">
                    <div class="bottom-text">
                        <p class="text-start">© e-CTD is Proudly Owned by <a href="https://topialifesciences.com" target="_blank">Topia Lifesciences</a>
                        </p>
                    </div>
                </div>
                <div class="col-lg-6"></div>
            </div>
        </div>
    </div>
</footer>